version: '3.8'

services:
  # db:
  #   image: postgres:16
  #   restart: always
  #   environment:
  #     POSTGRES_DB: suju_order
  #     POSTGRES_USER: suju_user
  #     POSTGRES_PASSWORD: suju_pass_2025
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
    restart: always
    command: gunicorn --bind 0.0.0.0:8009 --workers 2 --threads 2 --timeout 120 SujuOrderSystem.wsgi:application
    ports:
      - "449:8009"  # 외부 포트(왼쪽)를 449번으로 변경, 내부 포트는 8009번 그대로.
    environment:
      DB_ENGINE: django.db.backends.postgresql
      DB_NAME: suju_order
      DB_USER: suju_user
      DB_PASSWORD: suju_pass_2025
      DB_HOST: 192.168.0.166 # 실제 NAS IP 주소로 변경
      DB_PORT: 5433
    # depends_on:
    #   - db
    volumes:
      # app_data 볼륨을 컨테이너의 /app/data 디렉토리에 마운트합니다.
      # 이를 통해 SQLite 데이터베이스와 미디어 파일이 영구적으로 보존됩니다.
      - app_data:/app/data

volumes:
  # 데이터 영속성을 위한 Docker 볼륨을 정의합니다.
  app_data:
  # postgres_data:
